/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.appeal-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000;
  animation-duration: 800ms;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

.logo__text {
  color: #2196f3;
}

.button {
  padding: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.modal {
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  transform: scale(1);
  padding: 40px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.backdrop--hidden > .modal {
  transform: scale(0.8);
}

@media screen and (min-width: 768px) {
  .backdrop--hidden > .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover > .modal__close-icon,
.modal__close-button:focus > .modal__close-icon {
  color: #2196f3;
}

.modal__appeal {
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__icon {
  fill: currentColor;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social__link--dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--dark-theme:hover, .social__link--dark-theme:focus {
  background-color: #2196f3;
}

.user-info-form {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 8px;
}

.user-info-form__field, .user-info-form__field-comment {
  margin-bottom: 10px;
}

.user-info-form__wrapper {
  position: relative;
  display: block;
}

.user-info-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .user-info-form__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.user-info-form__input, .user-info-form__input-comment {
  padding: 5px 10px 5px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  color: #212121;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-form__input:focus, .user-info-form__input-comment:focus {
  border-color: #2196f3;
  outline: none;
}

.user-info-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-form__input:focus + .user-info-form__icon, .user-info-form__input-comment:focus + .user-info-form__icon {
  fill: #2196f3;
}

.user-info-form__field-comment {
  margin-bottom: 20px;
}

.user-info-form__input-comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.user-info-form__input-comment::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-info-form__terms-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.user-info-form__terms-label::before {
  content: "";
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-form__terms-checkbox:checked + .user-info-form__terms-label::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #2196f3;
  border: none;
}

.user-info-form__terms-checkbox:focus + .user-info-form__terms-label::before {
  outline: 2px solid #000;
}

.user-info-form__terms-link {
  color: #2196f3;
}

.user-info-form__button {
  min-width: 200px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.header__container {
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .header-nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.menu-button {
  display: flex;
  padding: 10px 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon-close {
  display: none;
}

.menu-button--open .menu-button__icon-close {
  display: block;
}

.menu-button--open .menu-button__icon-open {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    min-height: 796px;
    padding: 32px 40px;
    background-color: salmon;
  }
}

.menu-container--open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .site-nav__link--current {
    position: relative;
    color: #2196f3;
  }
  .site-nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(1px);
    height: 4px;
    width: 100%;
    content: "";
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-left: 30px;
  }
}

.contacts__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .tel-link {
    font-size: 34px;
    line-height: 1.17;
    color: #2196f3;
  }
}

.contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.social-nav {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .social-nav {
    display: none;
  }
}

.social-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.social-nav__item:not(:first-child)::before {
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.social-nav__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address-box {
    margin-bottom: 60px;
  }
}

.address-info__physical-address {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .address-info__physical-address {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .address-info__physical-address {
    text-align: center;
  }
}

.address-info__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info__link:hover, .address-info__link:focus {
  color: #2196f3;
}

.address-info__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-info__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .address-info__item {
    text-align: center;
  }
}

.appeal-text {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .appeal-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__appeal-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__appeal-box {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription-box {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.subscription-form__input {
  width: 100%;
  padding: 5px 16px;
  height: 50px;
  font-family: inherit;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription-form__input::placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription-form__input {
    margin-bottom: 20px;
  }
}

.subscription-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .subscription-form__button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form__button {
    margin-left: 12px;
  }
}

.subscription-form__button-icon {
  margin-left: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__wrapper {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__item {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.gallery {
  padding-top: 0;
  padding-bottom: 94px;
  background-color: #fff;
}

@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}

.gallery-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-set__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.gallery-set__thumb {
  position: relative;
}

.gallery-set__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.employees {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .employees {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
}

@media screen and (min-width: 768px) {
  .employees__set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .employees__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .employees__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .employees__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-member {
  max-width: 450px;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-member__wrapper {
    padding-bottom: 30px;
  }
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-member__position {
  margin-bottom: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #fff;
  }
}

.regular-clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.regular-clients__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
  height: 90px;
  color: #afb1b8;
}

@media screen and (min-width: 768px) {
  .regular-clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.regular-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients__link:hover, .regular-clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.regular-clients__icon {
  fill: currentColor;
  text-align: center;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-set__item {
  border: 1px solid #eee;
}

@media screen and (max-width: 767px) {
  .card-set__item {
    max-width: 450px;
  }
  .card-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.projects-filter {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .projects-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-filter {
    margin-bottom: 50px;
  }
}

.projects-filter__option:not(:first-child) {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .projects-filter__option {
    margin-bottom: 15px;
  }
}

.projects-filter__button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-filter__button:hover, .projects-filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #fff;
}

.projects-filter__button--active-button {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.project:hover, .project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  overflow: hidden;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project__overlay,
.project:focus .project__overlay {
  transform: translateY(0);
  opacity: 1;
}

.project__wrapper {
  padding: 20px 24px;
  overflow: hidden;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */