@mixin flexCentered($justifyContent: center, $alignItems: center, $flexDirection: row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

@mixin grid ($leftMargin: -30px, $topMargin: -30px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: $leftMargin;
    margin-top: $topMargin;
}

@mixin sectionPattern ($bgColor: $primaryBgColor, $paddingTop: $sectionPadding, $paddingBottom: $sectionPadding) {
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
    background-color: $bgColor;
}