
@mixin button($padding, $fontWeight, $lineHeight, $letterSpacing, $bgColor, $color, $boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.15)) {
    padding: $padding;
    border-radius: 4px;
    font-family: inherit;
    font-weight: $fontWeight;
    font-size: 16px;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
    background-color: $bgColor;
    box-shadow: $boxShadow;
    border: none;
    cursor: pointer;
}

@mixin flexCentered($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin grid ($leftMargin: -30px, $topMargin: -30px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: $leftMargin;
    margin-top: $topMargin;
}