$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$darkThemeTextColor: #fff;
$logoColor: #000;
$primaryBgColor: #fff;
$secondaryBgColor: #f5f4fa;
$footerBgColor: #2f303a;
$accentColor: #2196f3;
$sectionPaddingVertical: 94px;