.header {
    background-color: $primaryBgColor;
    border-bottom: 1px solid #eee;
}

.header-nav {
    @include flexCentered(space-between);
}

.header-nav__wrapper {
    @media screen and (max-width: 767px) {
        width: 100%;
        @include flexCentered(space-between);
    }
}




