.social-nav {
    display: flex;
    @media screen and (min-width: $tabletWidth) {
        display: none;
    }
}

.social-nav__item {
    @include flexCentered();

    &:not(:first-child)::before {
        content: "";
        display: block;
        width: 22px;
        height: 1px;
        background-color: rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
}

.social-nav__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accentColor;
}