.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: opacity 250ms $cubicBezier, visibility 250ms $cubicBezier;

    &--hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    @media screen and (max-width: 767px) {
        padding-top: 93px;
        padding-bottom: 93px;
    }
}
