.button {
    padding: 10px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $darkThemeTextColor;
    background-color: $accentColor;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
