.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #000;
}

.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    animation-duration: 800ms;
    
    @media screen and (min-width: $tabletWidth) {
        display: block;
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: $desktopWidth) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    color: $darkThemeTextColor;

    @media screen and (max-width: 1199px) {
    text-align: center;
    }
}

.logo__text {
    color: $accentColor;
}