.about {
    @include sectionPattern ();

    @media screen and (min-width: $desktopWidth) {
        @include sectionPattern ($primaryBgColor, $sectionPaddingDesktop, $sectionPaddingDesktop);
    }
}

.features {
    @media screen and (min-width: $tabletWidth) {
        @include grid();
    }
    
}

.features__item {
    max-width: 450px;
    width: 100%;
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;    
        }
    }
    
    @media screen and (min-width: $tabletWidth) {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: $desktopWidth) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.features__thumb {
    @include flexCentered();
    height: 120px;
    margin-bottom: 30px;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
}

.features__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondaryTextColor;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
    
}

.features__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}