.container {
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $mobileWidth) {
        width: $mobileWidth;
        margin: 0 auto;
    }

    @media screen and (min-width: $tabletWidth) {
        width: $tabletWidth;
    }

    @media screen and (min-width: $desktopWidth) {
        width: $desktopWidth;
    }
}