$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$darkThemeTextColor: #fff;
$logoColor: #000;
$primaryBgColor: #fff;
$secondaryBgColor: #f5f4fa;
$footerBgColor: #2f303a;
$accentColor: #2196f3;
$sectionPaddingVertical: 94px;
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$mobileWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1200px;