.portfolio {
    @include sectionPattern ();

    @media screen and (min-width: $desktopWidth) {
        @include sectionPattern ($primaryBgColor, $sectionPaddingDesktop, $sectionPaddingDesktop);
    }
}

.card-set {
    @media screen and (max-width: 767px) {
        margin-top: 40px;
    }
    @media screen and (min-width: $tabletWidth) {
        @include grid();
    }
}

.card-set__item {
    @media screen and (max-width: 767px) {
        max-width: 450px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tabletWidth) {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: $desktopWidth) {
        flex-basis: calc(100% / 3 - 30px);
    }
}

