.projects-filter {
    @include flexCentered(start);
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media screen and (min-width: $tabletWidth) {
        @include flexCentered();
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktopWidth) {
        margin-bottom: 50px;
    }
}

.projects-filter__option {
    &:not(:first-child) {
    margin-left: 8px;
    }
    @media screen and (max-width: 767px) {
    margin-bottom: 15px;
    }
}

.projects-filter__button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: $secondaryTextColor;
  transition: color 250ms $cubicBezier,
  box-shadow 250ms $cubicBezier,
  background-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: $accentColor;
    color: $darkThemeTextColor;
  }

  &--active-button {
    background-color: $accentColor;
    color: $primaryBgColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

