.subscription-form {
    @media screen and (min-width: $desktopWidth) {
        @include flexCentered(center, center);
    }
}

.subscription-form__input {
    width: 100%;
    padding: 5px 16px;
    height: 50px;
    color: #fff;
    background-color: $footerBgColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    
    @media screen and (min-width: $tabletWidth) and (max-width: 1199px){
        width: 450px;
    }

    @media screen and (min-width: $desktopWidth) {
        width: 358px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.subscription-form__button {
    @include flexCentered();
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 1199px) {
        margin: 0 auto;
    }

    @media screen and (min-width: $desktopWidth) {
        margin-left: 12px;
    }
} 

.subscription-form__button-icon {
    margin-left: 10px;
}